<%= render 'shared/errors', object: user %>

<%= form_with url: admin_user_path do |f| %>

    <div class="mb-3 row">
        <div class="col-sm-14">
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: 'Email', class: 'form-control form-control-lg' %>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-14">
            <%= f.label :name %>
            <%= f.text_field :name, placeholder: 'Name', class: 'form-control form-control-lg' %>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-14">
            <%= f.label :avatar %>
            <%= f.file_field :avatar, class: 'form-control form-control-lg' %>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
      <%= f.label :role %>
    </div>

    <div class="col-sm-10">
      <%= f.select :role, user_roles, {}, class: 'form-select form-select-lg' %>
    </div>
  </div>

    <div class="mb-3 row">
        <div class="col-sm-14">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control form-control-lg' %>
        </div>
    </div><br>

    <div class="mb-3 row">
        <div class="col-sm-14">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control form-control-lg' %>
        </div>
    </div><br>


  <%= f.submit "Update User", class: 'btn btn-primary btn-lg' %>
<% end %>