<%= render 'shared/errors', object: puzzle %>

<article class="card my-3" id="pazzle-<%=puzzle.id%>">
    <section class="card-header">
    
        <%=puzzle.user.show_avatar%>
        <%=puzzle.user.name_or_email%>
    </section>

    <div class="card-body">
      <h4>Category: <%= puzzle.show_category %></h4>
      <h4>Complexity: <%= puzzle.show_complexity %></h4>
      <h4><%= puzzle.title %></h2>
      <%if puzzle.solutions.exists? %>
      <h5>Puzzle solved: <%= puzzle.show_solved current_user%></h5>
      <%end%>
      <section class="card-text">
        <time datetime="<%= puzzle.formatted_created_at %>">
          <small><%= puzzle.formatted_created_at %></small>
        </time>

        <p class="my-2">
          <%= truncate strip_tags(puzzle.body), length: 100, omission: '...(continued)' %>
        </p>
      </section>

      <%= link_to 'Show', puzzle_path(puzzle), class: 'btn btn-primary' %> 
      <% if policy(puzzle).edit? %>
      <%= link_to 'Edit', edit_puzzle_path(puzzle), class: 'btn btn-secondary' %>
      <%end%>
      <% if policy(puzzle).destroy? %>
      <%= link_to 'Destroy', puzzle_path(puzzle), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'} %>
      <%end%>
    </div>
</article>
